name: Build RPM and DEB
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.MY_SECRET }}

    - name: Install RPM and DEB tools
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm dpkg-dev

    - name: Build RPM
      run: |
        mkdir -p ~/rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS}
        cp script_rpm/SPECS/* ~/rpmbuild/SPECS/
        cp script_rpm/SOURCES/* ~/rpmbuild/SOURCES/
        
        rpmbuild -ba ~/rpmbuild/SPECS/script.spec

        mkdir -p artifacts/rpms
        cp -r ~/rpmbuild/RPMS/* artifacts/rpms/
        cp -r ~/rpmbuild/SRPMS/* artifacts/rpms/

    - name: Build DEB
      run: |
        chmod -R 755 script/usr/local/bin || true
        
        dpkg-deb --build script

        mkdir -p artifacts/debs
        mv script.deb artifacts/debs/

    - name: Upload RPM artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rpm-packages
        path: artifacts/rpms

    - name: Upload DEB artifacts
      uses: actions/upload-artifact@v4
      with:
        name: deb-packages
        path: artifacts/debs
        
    - name: Commit and push artifacts
      env:
        MY_SECRET: ${{ secrets.MY_SECRET }} 
      run: |
        git config user.name "aacolyte"
        git config user.email "actions@github.com"
        git add artifacts/
        git commit -m "Add built RPMs and DEBs"
        git push https://$MY_SECRET@github.com/aacolyte/LABS.git main
